
a:hover{

    text-decoration: none;
    color: black;
}
a{

    text-decoration: none;
    color: black;
}
 #tar:hover{
    transform: scale(1.1);
}

/*cORRREGIR*/
#tar{
     max-width:80em;
     min-height:22em;
    transition: 1.1s;
position: ;
    padding: 3%;
    float: left;
    background-color:rgb(222, 220, 230);

}
#tarbody{
overflow: hidden;
}




 #parra{
     position: absolute;
    background-color: rgba(3, 3, 3, 0.425);
    text-align: center;
    color: white;
    font-size: 20px;
    bottom: 0px;
    left: 35%;
    padding-left: 5%;
    padding-right: 5%;
}

#marco {
    overflow: hidden;
padding: 3em;
    background-color: rgba(3, 3, 3, 0.171);
}
