/* html,body {
    width: 100%;
    height: 100%;

}


.opciones {
float: left;
background-color: black;
margin-left: 7%;
margin-top: 2%;
width: 13%;
height: 30%;
}

.barra ul {
    list-style: none;
} */


/* .barra li{
    padding: 5px;
    margin-top: 7%;
    color: white;
} */


/* #zapatillas {
    overflow: hidden;
    margin:0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
    background-color: rgba(3, 3, 3, 0.171);
} */

/* #nomb h2 {
    font-size: 30px;
   }

.producto img{
    width: 10%;
} */
a:hover{

    text-decoration: none;
    color: black;
}
a{

    text-decoration: none;
    color: black;
}
 #tar:hover{
    transform: scale(1.1);
}

/*cORRREGIR*/
#tar{
    /* max-width:80em; */
    /* min-height:22em; */
    transition: 1.1s;
position: ;
    padding: 3%;
    float: left;
    background-color:rgb(222, 220, 230);

}
#tarbody{
overflow: hidden;
}




 #parra{
     position: absolute;
    background-color: rgba(3, 3, 3, 0.425);
    text-align: center;
    color: white;
    font-size: 20px;
    bottom: 0px;
    left: 35%;
    padding-left: 5%;
    padding-right: 5%;
}
/*

.producto img {
    width: 100%;
    height:80%;
  padding: 7%;
}

 .producto h2{
    font-size:25px;
    width: 90%;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.411);
}
 #Precio{
    width: 90%;
    color:rgb(255, 255, 255);
    /* background-color: rgba(0, 0, 0, 0.411); */
/* }

.producto i{

    font-size: 15px;
}

.jumbo {
    margin-left:35%;
}

.iconitos{
    background-color: white;
    font-size:30px;
} */

#marco {
    overflow: hidden;
padding: 3em;
    background-color: rgba(3, 3, 3, 0.171);
}
