
#Info{
    float: right;
    align-content: flex-end;
}
#Foto
{
 float: inherit;

}
.tres
{
    width: 400px;
    font-size: 2rem;

}
c
.cuatro
{
background-color: rgba(107, 105, 105, 0.767);
max-width: 10px;
}
.product-price{
    font-size: 1.2rem;
}


